{% macro form_start(form, style) %}
    {{ form_start(form, {'attr': {'class': 'aui ' ~ style|default('')}}) }}
{% endmacro %}

{% macro form_buttons(buttons) %}
    <div class="buttons-container">
        <div class="buttons">
            {% for button in buttons %}
                {{ form_widget(button) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro message(message, type, title) %}
    <div class="aui-message aui-message-{{ type|default('generic') }}">
        {% if title is not empty %}
        <p class="title">
            <strong>{{ title }}</strong>
        </p>
        {% endif %}
        <p>{{ message|raw }}</p>
    </div>
{% endmacro %}